body, html {
  height: 100%; 
  width: 100%;
  font-size: 90%;
}
#app {
  width: 100%;
  margin: 10px;
}
#sidebar {
  max-width: 250px;
  min-width: 250px;
  padding-right: 10px;
  border-right: 3px solid grey;
  min-height: 100vh;
}
